[submodule "src/vendor/spdlog"]
	path = src/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "src/vendor/glfw"]
	path = src/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "src/vendor/glew-cmake"]
	path = src/vendor/glew-cmake
	url = git@github.com:Zerodoctor/glew-cmake
[submodule "src/vendor/imgui"]
	path = src/vendor/imgui
	url = https://github.com/ocornut/imgui
